<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/view/thankyou/tks.css">
    <link rel="icon" href="/src/image/favicon.png" type="image/png">
    <title>Honkai: Star Rail - Communitty</title>
</head>
<body>
    <div class="tks-container">
        <h2>Thank you for joining our community!</h2>
        <div class="mediaContent">
            <div><a href="https://discord.com/invite/honkaistarrail"><i class="fab fa-discord"></i></a></div>
            <div><a href="https://honkai-star-rail.fandom.com/vi/wiki/Wiki_Honkai:_Star_Rail"><i class="fas fa-flag"></i></a></div>
            <div><a href="https://hsr.hoyoverse.com/vi-vn/news"><i class="fas fa-star"></i></a></div>
            <div><a href="https://www.facebook.com/groups/honkaistarrailvn/"><i class="fab fa-facebook-square"></i></a></div>
        </div>
        <div class="hoyolab"><a href="https://www.hoyolab.com/circles/6/42/feed?page_type=42&page_sort=hot"><img src="/src/image/hoyolab-svgrepo-com.svg"></a></div>
    </div>
</body>
</html>